.img {
  margin: 61px 0;
  max-width: 100%;
  height: auto;
}

.title {
  text-shadow:
    0px 0px 16px rgba(51, 51, 255, 0.25),
    0px 0px 8px rgba(51, 51, 255, 0.25),
    0px 4px 32px rgba(51, 51, 255, 0.5);
}

.text {
  color: #8585ad;
}

/* Планшеты */
@media (max-width: 1024px) {
  .img {
    margin: 48px 0;
  }
}

/* Мобильные устройства */
@media (max-width: 768px) {
  .img {
    margin: 40px 0;
  }

  .title {
    font-size: 96px;
  }
}

@media (max-width: 480px) {
  .img {
    margin: 32px 0;
  }

  .title {
    font-size: 72px;
  }

  .text {
    font-size: 14px;
  }
}
